@page
@using COE000.Portal.NomeProjeto.Areas.Identity.Pages.Account
@model RegisterConfirmationModel
@{
  ViewData["Title"] = "Confirme seu cadastro!";
}

<main>
  <div class="container-fluid">
    <div class="row rowCenter">
      
      <div class="col-12 logoAndLine">
        <img src="~/resource/logo.png">
      </div>

      <div class="col-sm-12 col-md-12 col-lg-8 confirmCard shadow">
        <h1>Estamos quase lá!</h1> 

        <p>
          Confira sua caixa de e-mail, lhe enviamos uma notificação.
          Basta clicar no link para prosseguir!
        </p>        
               
        <div class="confirmContentCard">
          <img src="~/resource/SendEmailUDraw.svg" />            
        </div>
      </div>
    </div>
  </div>
</main>