/* ------------------------------ Shared ------------------------------ */

.headerRow {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.card-header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent !important;
    padding: 0 25px;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
}

.filterForm {
    display: flex;
    align-items: center;
}

.backGroundItem {
    justify-content: space-around;
}

.scrollCard {
    overflow-y: auto;
    overflow-x: hidden;
}

.card-body {
    border-radius: 15px;
    padding: 2px 9px;
    margin: 11px 0px;
    background-color: white;
}

.card-item {
    border-radius: 15px;
    padding: 12px 15px;
    margin: 13px 0;
}

/*=============================================================================*/

/* Both Prefereces Pages */

.userCards {
    display: flex;
    justify-content: space-between;
}

.profileCard {
    border-radius: 48px;
    margin: 13px 0;
    position: relative;
    max-width: 238px;
}

.backgroundIconUser {
    background-color: #333333;
    opacity: 74%;
    display: flex;
    padding: 17px 0;
    justify-content: center;
    align-items: center;
    border-radius: 48px 48px 0 0;
}

.backgroundIconUser i {
    font-size: 68px;
    color: white;
}

.buttonPositon {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.editButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--themeColor2);
    border: none;
    border-radius: 50px;
    margin: -100px 0 0 10px;
}

.editButton:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.editButton i {
    color: white;
    font-size: 20px;
}

.userCardContext {
    padding: 13px 8px;
}

.userCardContext label {
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(80, 79, 79);
} 

.boldedGreyText {
    font-weight: bold;
    color: rgb(124, 124, 124);
    font-size: 13px;
}

.envRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.envStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--themeColor);
    margin-left: 10px;
    padding: 5px 8px;
}

.envStatus i {
    color: white;
    font-size: 14px;
    margin-right: 5px;
}

.envStatus label {
    font-size: 12px;
    color: white;
}

/* ---------------------------- historic.cshtml ----------------------------*/

.searchSelect {
    border: none !important;
    padding: 10px !important;
    border-radius: 5px;
    min-width: 260px;
    text-align-last: center;
}