:root {
    --themeColor: #4B3EA3;
    --themeColor2: #988BF0;
    --mainBackground: #fcfcda;
    --secundaryBackground: #262831;
    --error: #ce0000;
    --sucess: #00bf79;
    --warning: #FFBC6E;
}