@model dynamic

@{
  ViewData["Title"] = "Home Page";
  ViewData["BodyId"] = "homeScreen";
  ViewData["NotFundMessage"] = "Nenhuma execução localizada!";
}

<div id="homeScreen" class="row">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card-header">
      <h1 class="subtitle">Home</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 card-body scrollCard">
    
  </div>
</div>