<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - Portal FirstData</title> 

  <partial name="../Modules/_HeadDefaultImport"/>
  <link rel="stylesheet" href="~/css/pagesLayout.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/pages.css" asp-append-version="true" />
  <script src="~/js/inputDate.js" asp-append-version="true"></script>
  <script src="~/js/fillModal.js" asp-append-version="true"></script>

  <partial name="../Modules/_WindowsOnLoadFunction"/>

  <meta http-equiv="refresh" content="180">
</head>

<header>
  <nav class="navbar bg-light fixed-top menuNav">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="~/resource/logo.png">
  </nav>
</header>

<body id="@(ViewData["BodyId"])" >
<main>
  <div class="container-fluid">
    @RenderBody()
  </div>
</main>

@await RenderSectionAsync("Scripts", required: false)
  
</body>
</html>

<partial name="../Modules/_NavMenu"/>