<div class="modal fade" id="loadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-body loadContainer">
				<h4>Processando...</h4>

				<div class="row loadIconRow">
					<i class='bx bx-loader-alt bx-spin bx-flip-vertical'></i>
				</div>

				<label>Isso pode levar alguns minutos</label>
      </div>

    </div>
  </div>
</div>