@if (Model.NotifyModal?.ShowMessage ?? false)
{
	<div class="modal fade" id="notificacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="headerModal notifyModalHeader">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modalReturn notifyModalBody">
						<div class="row">
							<i class="@(Model.NotifyModal?.Icon.IconClass)"></i>
						</div>
						<div class="row">
							<label>
								@Model.NotifyModal?.Message
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}